@import 'reset.css';

:root {
  --shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

body {
  background-color: #f6f9fc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.canvas {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin-bottom: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__btns {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.controls__btns button {
  width: 80px;
  padding: 5px 0px;
  background-color: white;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 7px;
  text-align: center;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}

.controls__btns button:active {
  transform: scale(0.98);
}

.controls__colors {
  display: flex;
  margin: 20px 0px;
}

.controls__color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
}
